<%= form_tag("/dashboard", :method => "get", class: "container text-center") do %> 
  <meta http-equiv="refresh" content="7" >
  <h2>Tweets About ...</h2>
  <div>
    <%= label_tag(:q, "term0:") %>
    <%= text_field_tag(:term0) %>
    <%= label_tag(:q, "OR") %>
    <%= label_tag(:q, "term1:") %>
    <%= text_field_tag(:term1) %>
  </div>
  <!--
  <div>
    <%= label_tag(:q, "nterm0:") %>
    <%= text_field_tag(:nterm0) %>
    <%= label_tag(:q, "nterm1:") %>
    <%= text_field_tag(:nterm1) %>
  </div>
  -->
  <br/>
  <div>
    <%= submit_tag("Search", class: 'btn btn-primary') %>
  </div>

<% end %>

<p> Count: <%= @tweets.count %> </p>
<% @tweets.reverse.each do |tweet| %>

  <p><%= tweet.from_user %> : <%= tweet.text.html_safe %> </p>
  <p><%= tweet.created_at %> / <%= tweet.user.location %> </p>
  <p>------------------------------------</p> 
<% end %>
<br />
