<%= form_tag("/dashboard", :method => "get", class: "container text-center") do %> 
  <meta http-equiv="refresh" content="12" >
  <h2>Tweets About ...</h2>
  <div>
    <%= label_tag(:q, "keywords:") %>
    <%= text_field_tag(:keywords) %>
  </div>
  <div>
    <%= label_tag(:q, "exclude:") %>
    <%= text_field_tag(:exclude) %>
  </div>
  <div>
    <%= label_tag(:q, "language:") %>
    <select class="form-control" name="language">
      <option value="en">English</option>
      <option value="es">Spanish</option>
    </select>
  </div>
  <div>
    <%= label_tag(:q, "latitude:") %>
    <%= text_field_tag(:latitude) %>
    <%= label_tag(:q, "longitude:") %>
    <%= text_field_tag(:longitude) %>
    <%= label_tag(:q, "radius:") %>
    <%= text_field_tag(:radius) %>
    <input type="radio" name="distance" value="mi" checked>mile
    <input type="radio" name="distance" value="km">km 
  </div>
  <br/>
  <div>
    <%= submit_tag("Search", class: 'btn btn-primary') %>
  </div>

<% end %>

<p> Count: <%= @tweets.count %> </p>
<% @tweets.reverse.each do |tweet| %>

  <p><%= tweet.from_user %> : <%= tweet.text.html_safe %> </p>
  <p><%= tweet.created_at %> / <%= tweet.user.location %> </p>
  <p>------------------------------------</p> 
<% end %>
<br />
