<%= form_tag("/stream", :method => "get", class: "container text-center") do %> 

  <!-- map -->
  <div class="rightCol" id="map">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <%= javascript_include_tag "map.js" %>   
  </div>


  <!-- search -->
  <div class="leftCol">
  <h2>Tweets About ...</h2>
  <div>
    <%= label_tag(:q, "keywords:") %>
    <%= text_field_tag(:keywords) %>
  </div>
  <div>
    <%= label_tag(:q, "exclude:") %>
    <%= text_field_tag(:exclude) %>
  </div>
  <div>
    <%= label_tag(:q, "language:") %>
    <select class="form-control" name="language">
      <option value="en">English</option>
      <option value="es">Spanish</option>
    </select>
  </div>
  <div>
    <%= label_tag(:q, "latitude:") %>
    <%= text_field_tag(:latitude) %>
    <%= label_tag(:q, "longitude:") %>
    <%= text_field_tag(:longitude) %>
    <%= label_tag(:q, "radius:") %>
    <%= text_field_tag(:radius) %>
  </div>
  <div>
    <input type="radio" name="distance" value="mi" checked>mile
    <input type="radio" name="distance" value="km">km 

  </div>

  <br/>
  <div>
    <%= submit_tag("Search", class: 'btn btn-primary') %>
  </div>
  <div>
    <%= @warning %>
  </div>
  </div>

  

  

  </div>
<% end %>


<br />
