
.tweet-stream
  - 10.times do |index|  
    %a.tweet.tweet-inactive{lang: "en", href: "", target: "_blank", id: "tweet#{index}", style: "float:left;"}
      %img{src: "", id: "tweet#{index}image"}
      .tweet-info
        %span.tweet-username{id: "tweet#{index}name"}
        %span.tweet-handle{id: "tweet#{index}handle"}
        %span.tweet-time{id: "tweet#{index}time"}
      .tweet-text{id: "tweet#{index}text"}
  :javascript
    $(document).ready(function(){
      //var refresh = window.setInterval(function(){TweetStreamUI.refresh();},5000);
      //var get = window.setInterval(function(){TweetStreamUI.getTweets();},24000);
    });
