.page-header.tweetstream-header.container
  %h3.logo{style: "float:left;color:white;padding:10px;"}
    TweetStream
  .container.button-area
    - if current_user
      = link_to "Logout", logout_path, :method => 'delete', class: "btn header_button", id: 'logout'
      = link_to "Edit Profile", users_edit_path, :method => :get, class: "btn header_button"
    - else
      = link_to "Sign Up", signup_path, :method => :get, class: "btn header_button"
      = link_to "Sign In", "/auth/twitter", :method => :get, class: "btn header_button"
    - if current_user && current_user.admin?
      = link_to "Broadcast", users_broadcast_path, :method => :get, class: "btn header_button"
- if current_user && !new_broadcasts.blank?
  - new_broadcasts.each do |broadcast|
    .page-header.container.text-center
      %h4
        New Broadcast from Admin #{User.find(broadcast.admin_id).name}
      #{broadcast.message}
      %br
      Announced on #{broadcast.created_at.to_formatted_s(:long_ordinal)}
    - broadcast.message_read(current_user.id)
