%h1 Edit User

= if params[:success]
  %h2
    Your account was successfully updated!
= if params[:failure]
  %h2
    An error occurred. Your account was not updated.
= if params[:confirm]
  %h2
    Your account was successfully confirmed!
= if params[:confirm_failure]
  %h2
    Your account was not confirmed!
  = button_to "Resend Confirmation", users_resend_path, :method => :post
= if params[:sent]
  %h2
    The confirmation email was sent again. 
%form.container.text-center{ action: "update", method: "post" }
  %input{:type=>"hidden", :name =>"authenticity_token", :value=>form_authenticity_token.to_s}
  %label
    User Email: 
    = @user.email
  %label
    Account Confirmed:
    - if @user.unconfirmed?
      No
    - else
      Yes
  %label
    Account Type:
    = @user.user_type.capitalize
  %label
    Name:
    %input#first_name{ type: "text", name: "user[name]", value: @user.name }
  .actions
    %input{ name: "commit", type: "submit", value: "Update" }

%br
%br
