%h1.text-center Edit User
%br
= if params[:success]
  %h3.text-center
    Your account was successfully updated!
= if params[:failure]
  %h3.text-center
    An error occurred. Your account was not updated.
= if params[:confirm]
  %h3.text-center
    Your account was successfully confirmed!
= if params[:confirm_failure]
  %h3.text-center
    Your account was not confirmed!
  = button_to "Resend Confirmation", users_resend_path, :method => :post
= if params[:sent]
  %h2
    The confirmation email was sent again.
%form.container.text-center{ action: "update", method: "post" }
  %input{:type=>"hidden", :name =>"authenticity_token", :value=>form_authenticity_token.to_s}
  %label
    User Email:
    %input.text-center#email{ type: "text", name: "user[email]", value: @user.email }
  %br
  %label
    Account Confirmed:
    %strong
      - if @user.unconfirmed?
        No
      - else
        Yes
  %br
  %label
    Account Type:
    %strong
      = @user.user_type.capitalize
  %br
  %label
    Name:
    %input.text-center#first_name{ type: "text", name: "user[name]", value: @user.name }
  %br
  .actions
    %input{ name: "commit", type: "submit", value: "Update", class: "btn btn-info"}

%br
%br
